body {
  font-family: Arial, sans-serif;
  padding: 20px;
  color: rgb(255, 255, 255);
  background-color: rgb(27, 25, 25);
  text-align: center;
}

h1 {
  margin-bottom: 0;
}

.converter-container {
  max-width: 600px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.form-wrapper {
  display: flex;
  gap: 8px;
  margin: 12px 0;
}

label {
  margin-top: 10px;
}

input[type='number'] {
  width: 70px;
}

input,
select {
  padding: 8px;
  font-size: 16px;
}

button {
  padding: 10px;
  background-color: #0f148f;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 5px;
  cursor: arrow;
  font-size: 16px;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

#result {
  margin-top: 20px;
  font-size: 18px;
  color: rgb(255, 255, 255);
  font-weight: bold;
}
